{% extends "normal-base.html" %}

{% block content %}
	<h1 style="text-align:center;">BRIAN HAGERTY</h1>
	<hr>
	<p style="text-align:center;">
		7562 Manchester Road, Apt. 204, Maplewood, MO 63143
		<br/>
		(314) 412-3985
		<br/>
		poptart300@gmail.com
	</p>
	<hr>
	<h2><u>SUMMARY:</u></h2>
	<p>Youth new to the field - strongly creative, hardworking, and a propensity for learning and exploring new areas. Relevant interests: maths, sciences, system design, visual design.</p>
	<h2><u>TECHNICAL SKILLS:</u></h2>
	<p>
		Programming Languages: Java, Python, HTML, CSS, C++, SQL
		<br/>
		Platforms: Windows, Android
		<br/>
		Software: Git/GitHub, Sublime Text, Eclipse IDE, IntelliJ IDEA
		<br/>
		Frameworks: Flask, Jinja, SQLAlchemy, Spring Boot, Gradle, OpenGL
	</p>
	<h2><u>EDUCATION:</u></h2>
	<p>
		<b>&gt;</b> LaunchCode // 2017
		<br/>
		<b>&gt;</b> Self-taught programming // 2013-2017
	</p>
	<h2><u>WORK EXPERIENCE:</u></h2>
	<p>
		<b>Washington University School of Medicine, Mallinckrodt Institute of Radiology - Neuroimaging Laboratory (NIL)</b>
		<br>
		<i>Intern, Summer of 2012 &amp; 2013</i>
		<br><br>
		<b>&gt;</b> Shadowed a researcher for an AP Biology project in junior year of high school (winter of 2012); was invited to intern that summer and asked to return the next summer as well.
		<br/>
		<b>&gt;</b> Received HIPAA and Radioactive Material Safety training.
		<br/>
		<b>&gt;</b> Learned about brain anatomy, imaging methods, and modern diseases/research.
		<br/>
		<b>&gt;</b> Analyzed MRI imagery, organized patient data, created statistical visualizations, assisted in data processing using R, created presentation on the effects of melatonin on Alzheimer’s disease.
	</p>
	<br><br>
{% endblock %}